@font-face {
    font-family: "Lemonada", sans-serif;
    src: url("./Assets/Font/Lemonada-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Dosis", sans-serif;
    src: url("./Assets/Font/Dosis-VariableFont_wght.ttf");
}

:root{
    /*-----Color-----*/

    --aqua-50: #f2f9f9;
    --aqua-100: #ddeff0;
    --aqua-200: #bfdfe2;
    --aqua-300: #92c9ce;
    --aqua-400: #5fa9b1;
    --aqua-500: #438e97;
    --aqua-600: #3b747f;
    --aqua-700: #356069;
    --aqua-800: #325058;
    --aqua-900: #2d454c;
    --aqua-950: #1a2c32;
    --text-color: #1E2020;

    --gradient-Top-to-Bot : linear-gradient(180deg, #438E96 0%, #DDEFF0 89.06%);
    --gradient-Bot-to-Top : linear-gradient(180deg, #DDEFF0 14.58%, #438E96 100%);
    --gradient-600-to-400 : linear-gradient(180deg, #9cb6ddc2 0%, #e7f0f8c2 100%);
    --gradient-button_card : linear-gradient(102deg, #5FAAB1 13.05%, #3B757F 103.66%);

    --title-font: "Lemonada", sans-serif;
    --text-font: "Dosis", sans-serif;
}

html{

}

body{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

section{
    height: 100vh;
    margin: 0;
    padding: 0;
}

a, a:hover, a:after{
    text-decoration: none;
    color: var(--text-color);
}


/*----------------First View----------------*/


#first-view{
    background: var(--gradient-Top-to-Bot);
    display: flex;
    flex-direction: column;
    width: 100%;
}


nav{
    display: flex;
    justify-content: right;
    padding: .3em 3% 0 0;
    height: 10vh;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 3em;
}

li{
    font-family: var(--text-font);
    font-weight: 500;
    font-size: 32px;
    color: var(--text-color);
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}

#title img{
    height: 70%;
}

#name{
    padding: 0;
    margin-top: -10em;
    line-height: 0;
}

h1{
    font-family: var(--title-font);
    color: var(--text-color);
    font-size: 10em;
    font-weight: 500;
    line-height: 1em;
}

#name p{
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 6em;
}


/*----------------Second View----------------*/


#second-view{
    background-color: var(--aqua-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

#second-view img{
    height: 60%;
}

#second-view-text{
    width: 30%;
    margin: 7%;
}

#second-view-text h2{
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 5em;
    font-weight: 500;
    line-height: 0;
}

#second-view-text p{
    font-family: var(--text-font);
    color: var(--text-color);
    font-weight: 300;
    font-size: 3em;
    line-height: 130%;
}


/*----------------Third View----------------*/

#third-view{
    background: var(--gradient-600-to-400);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0 0 0;
}

#third-view h2{
    line-height: 18px;
    margin: 0;
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 5em;
    height: 10%;
}

#third-view img{
    width: 100%;
    position: static;
    z-index: 3;
    bottom: 0;
}

.slider{
    width: 80%;
    height: 75%;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.slider ul{
    width: 300%;
    height: 900px;
    padding:0;
    margin:0;
    list-style: none;
}

.slider-container li{
    float: left;
}

.cardProject{
    background: var(--aqua-50);
    border: var(--aqua-700) solid 6px;
    border-radius: 25px;
    width: 500px;
    height: 80%;
    scale: .8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 8;
}

.cardProject h3{
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 2em;
    font-weight: 500;
    margin: -1em 0 1em 0;
}

.cardProject img{
    transform: scale(50%);
    border-radius: 50%;
    margin-top: -3em;
}

.buttonCardProject{
    font-family: var(--text-font);
    color: var(--aqua-50);
    background: var(--gradient-button_card);
    font-size: 1.8em;
    width: 70%;
    height: 15%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

