@font-face {
    font-family: "Lemonada", sans-serif;
    src: url("./Assets/Font/Lemonada-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Dosis", sans-serif;
    src: url("./Assets/Font/Dosis-VariableFont_wght.ttf");
}

:root{
    /*-----Color-----*/

    --aqua-50: #f2f9f9;
    --aqua-100: #ddeff0;
    --aqua-200: #bfdfe2;
    --aqua-300: #92c9ce;
    --aqua-400: #5fa9b1;
    --aqua-500: #438e97;
    --aqua-600: #3b747f;
    --aqua-700: #356069;
    --aqua-800: #325058;
    --aqua-900: #2d454c;
    --aqua-950: #1a2c32;
    --text-color: #1E2020;
    --scrollBar-color : #aaa;

    --gradient-Top-to-Bot : linear-gradient(180deg, #438E96 0%, #DDEFF0 89.06%);
    --gradient-Bot-to-Top : linear-gradient(180deg, #DDEFF0 14.58%, #438E96 100%);
    --gradient-600-to-400 : linear-gradient(180deg, #9cb6ddc2 0%, #e7f0f8c2 100%);
    --gradient-button_card : linear-gradient(102deg, #5FAAB1 13.05%, #3B757F 103.66%);

    --title-font: "Lemonada", sans-serif;
    --text-font: "Dosis", sans-serif;
}


body{
    padding: 0;
    margin: 0;
    font-size: 16px;
    background: var(--aqua-100);
    overflow: hidden;
    overflow-y: scroll;
}

section{
    height: 100vh;
    margin: 0;
    padding: 0;
}

a, a:hover, a:after{
    text-decoration: none;
    color: var(--text-color);
}

/*----------------Scroll Bar----------------*/

body::-webkit-scrollbar{
    width: 0.5vw;
}

body::-webkit-scrollbar-thumb{
    background: var(--scrollBar-color);
    border-radius: 32px;
}

body::-webkit-scrollbar-thumb:active{
    background: var(--aqua-400);
}

body::-webkit-scrollbar:hover{
    width: .7vw;
}


/*----------------First View----------------*/


#first-view{
    background: var(--gradient-Top-to-Bot);
    display: flex;
    flex-direction: column;
    width: 100%;
}


nav{
    display: flex;
    justify-content: right;
    padding: .5em 3% 0 0;
    height: 10vh;
    position: relative;
    z-index: 100;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 3em;
}

li{
    font-family: var(--text-font);
    font-weight: 500;
    font-size: 1.7vw;
    color: var(--text-color);
    cursor: pointer;
}

.navLink {
    background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
    transition: 0.5s background-size;
}

.navLink:hover {
    background-size: 100% .1em;
}



#title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

}

#title img{
    height: 60vh;
}

#name{
    padding: 0;
    margin-top: -8em;
    line-height: 0;
    justify-content: center;
}

h1{
    font-family: var(--title-font);
    color: var(--text-color);
    font-size: 6vw;
    font-weight: 500;
    line-height: 1em;
}

#name p{
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 2.5vw;
}


/*----------------Second View----------------*/


#second-view{
    background-color: var(--aqua-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

#second-view img{
    height: 60%;
}

#second-view-text{
    width: 30%;
    margin: 7%;
    flex-wrap: wrap;
    justify-content: center;
}

#second-view-text h2{
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 4vw;
    font-weight: 500;
    line-height: 5vw;
}

#second-view-text p{
    font-family: var(--text-font);
    color: var(--text-color);
    font-weight: 300;
    font-size: 2vw;
    line-height: 130%;
}


/*----------------Third View----------------*/

#third-view{
    background: var(--gradient-600-to-400);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0 0 0;
}

#third-view h2{
    line-height: 18px;
    margin: 0;
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 3vw;
    height: 10%;
}

#third-view img{
    width: 100%;
    position: static;
    z-index: 3;
    bottom: 0;
}

.slider{
    width: 80%;
    height: 75vw;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.slider ul{
    width: 300%;
    height: 3vw;
    padding:0;
    margin:0;
    list-style: none;
}

.slider-container li{
    float: left;
}

.cardProject{
    background: var(--aqua-50);
    border: var(--aqua-700) solid 6px;
    border-radius: 25px;
    width: 20vw;
    height: 60vh;
    scale: .8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 8;
    box-shadow: 5px 7px 20px 3px rgba(145,145,145,0.88);
}

.cardProject h3{
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 3vw;
    font-weight: 500;
    margin: -1em 0 1em 0;
}

.cardProject img{
    transform: scale(50%);
    border-radius: 50%;
    margin-top: -2em;
}

.buttonCardProject{
    font-family: var(--text-font);
    color: var(--aqua-50);
    background: var(--gradient-button_card);
    font-size: 2vw;
    width: 70%;
    height: 15%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


/*----------------Fourth View----------------*/

#fourth-view{
    background: var(--aqua-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0 0 0;
}

#fourth-view h2{
    line-height: 18px;
    margin: 0;
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 3vw;
    height: 10%;
}


#skillCardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 60%;
    margin-top: 5%;
}

.skillCard{
    height: 100%;
    width: 20%;
}

.skillCardClose{
    background: var(--aqua-700);
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.skillCardClose h3{
    text-align: center;
    font-family: var(--text-font);
    color: var(--aqua-50);
    font-size: 2.7vw;
    font-weight: 500;
}

.skillCardClose img{
    width: 10%;
}

.skillCardText{
    background: var(--aqua-700);
    color: var(--aqua-50);
    flex-wrap: wrap;
    display: none;
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 2vw;
    text-indent: 2em;
}

span{
    font-weight: bold;
}

.active{

    display: flex;
    width: 70%;
    order: -1;

    .skillCardClose{
        width: 20%;
        border-radius: 50px 0 0 50px;
    }

    .skillCardClose h3{
        writing-mode: vertical-rl;
        text-align: center;
        transform: rotateZ(180deg);
        font-size: 2.5vw;
    }

    .skillCardClose img{
        visibility: hidden;
    }

    .skillCardText{
        display: flex;
        flex-direction: column;
        padding: 1em 2em 1em 0;
        border-radius: 0 50px 50px 0;
        row-gap: 0;
    }
}

.other{
    width: 10%;

    .skillCardClose h3{
        writing-mode: vertical-lr;
        text-orientation: mixed;
        text-align: center;
        font-size: 2.8vw;
        line-height: 3vw;
    }

    .skillCardClose img{
        visibility: hidden;
    }

}


/*----------------Fifth View----------------*/

#fifth-view {
    background: var(--gradient-Bot-to-Top);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10%;

}

#cardPerso{
    width: 17vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--aqua-50);
    border: var(--aqua-950) solid 0.6vw;
    border-radius: 2rem;
    padding: 0 2em;
    margin: 0;
}

#photo{
    border-radius: 50%;
    height: 35%;
    margin: 0;
}

#cardPerso h3{
    font-family: var(--title-font);
    font-size: 3vw;
    color: var(--aqua-950);
    font-weight: 400;
    text-align: center;
    line-height: 3vw;
    margin: 7% 0 5%;
}

#cardPerso h4{
    font-family: var(--text-font);
    font-weight: 300;
    color: var(--aqua-950);
    font-size: 2vw;
    line-height: 42px;
    margin: 0;
}

#BlackBarre{
    border: solid var(--aqua-950) 0.3vw;
    margin: 10% 0;
    width: 100%;
}

#Social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
}

.socialLink img{
    height: 2vw;
}

#contact{
    width: 45vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background: var(--aqua-50);
    border: var(--aqua-950) solid 0.6vw;
    border-radius: 2rem;
    padding: 0 1vw;
    margin: 0;
}

#contact h3{
    font-weight: 500;
    font-family: var(--text-font);
    color: var(--aqua-950);
    font-size: 2.5vw;
    border-bottom: solid 0.5vw var(--aqua-950);
    margin-top: -1vh;
}

form{
    display: flex;
    flex-direction: column;
    width: 99%;
    gap: 2vh;
}

.inputDiv{
    display: flex;
    width: 100%;
    gap: 1em;
}

input, #message{
    width: 100%;
    color: var(--aqua-950);
    font-family: var(--text-font);
    font-size: 1.6vw;
    padding: 0.3em 0.3em 0.3em 0.8em;
    border-radius: 2.25rem;
    background: transparent;
    border: 0.08em solid var(--aqua-950);
    margin: 0;
}

#message{
    resize: none;
}

label{
    font-family: var(--text-font);
    color: var(--aqua-950);
    font-size: 2vw;
    text-align: right;
    width: 21%;
}

#submit{
    background: var(--gradient-button_card);
    color: var(--aqua-50);
    width: 10vw;
    height: 8vh;
    border-radius: 1rem;
    margin-left: 70%;
}



/*----------------Responsive----------------*/

@media screen and (max-width:  576px){

    body{
        overflow-y: scroll;
        overflow-x: hidden;
    }

    section{
        width: 100%;
        height: 60vh;
    }

    #first-view{
        justify-content: center;
        align-items: center;
    }

    #title{
        height: auto;
        align-items: center;
        justify-content: center;
    }

    #title img{
        height: 20vh;
    }

    #name{
        margin: 0;
    }

    h1{
        font-size: 9vw;
    }

    #name p{
        font-size: 6vw;
    }

    nav {
        display: none;
    }

    #second-view{
        justify-content: center;
        align-items: center;
        padding: 5% 0;
        flex-direction: column;
    }

    #second-view img{
        width: 80vw;
    }


    #second-view-text{
        width: 80vw;
    }

    #second-view-text h2{
        font-size: 10vw;
        line-height: 10vw;
    }

    #second-view-text p{
        font-size: 4vw;
    }

    #third-view{
        padding: 2vh 0 0 0;
        height: auto;
    }

    #third-view h2{
        font-size: 6vw;
    }

    .cardProject{
        height: 35vh;
        width: 50vw;
    }

    .cardProject img{
        transform: scale(60%);
    }

    .cardProject h3{
        font-size: 6vw;
    }

    .buttonCardProject{
        font-size: 4vw;
    }

    #fourth-view{
        padding: 5vh 0 0 0;
    }

    #fourth-view h2{
        font-size: 6vw;
    }

    #skillCardContainer{
        flex-direction: column;
        height: 80%;
        width: 80vw;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .skillCard{
        width: auto;
        height: 15vh;
    }

    .skillCardClose{
        border-radius: 20px;
        width: 40vw;
    }

    .skillCardClose h3{
        font-size: 4vw;
        margin-bottom: 4vw;
    }

    .skillCardText{
        word-wrap: anywhere;
    }

    .active{
        order: initial;

        .skillCardClose{
            border-radius: 20px 0 0 20px;
        }

        .skillCardText{
            border-radius: 0 20px 20px 0;
            font-size: 2.5vw;
            padding: 0 2vw;
        }
    }

    #fifth-view{
        justify-content: space-around;
        align-items: center;
        padding: 10vh 0 5vh 0 ;
        flex-direction: column;
    }

    #cardPerso{
        height: auto;
        padding: 5% 6%;
        width: 30vw;
        margin-bottom: 3vh;
    }

    #cardPerso h3{
        font-size: 5vw;
        line-height: 5vw;
    }

    #cardPerso h4{
        font-size: 3vw;
        line-height: 3vw;
    }

    #photo{
        height: 10vh;
    }

    .socialLink img{
        transform: scale(1.5);
    }

    #contact{
        height: 28vh;
        width: 70vw;
        padding: 2vh 3vw;
    }

    #contact h3{
        font-size: 4.5vw;
    }

    #submit{
        height: 4vh;
        width: 20vw;
        border-radius: 3vh;
    }

    label{
        font-size: 4vw;
        width: 30%;
    }

    input, #message{
        font-size: 3vw;

    }

    #message{
        border-radius: 1em;
    }

}

